.toolbar {

    @mixin toolbar {
        display: inline-block;
        float: left;
        width: 100%;
    }

    .config {
        @include toolbar;

        @media (min-width: 768px) {
            padding-right: 40px;
            width: 50%;
        }
    }

    .actions {
        padding-top: 20px;

        @include toolbar;

        @media (min-width: 768px) {
            padding-left: 40px;
            padding-top: 0;
            width: 50%;
        }

        button {
            background-color: #505050;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            font-size: 12px;
            text-transform: uppercase;
            min-width: 100px;
            text-align: center;
            padding: 8px 10px;
            transition: background-color 0.3s;

            &:hover {
                background-color: #2DB6CF;
            }
        }

        .caption {
            font-size: 12px;
            padding-top: 5px;
        }
    }

    .row {
        overflow: hidden;

        .left {
            display: inline-block;
            float: left;
        }
        .right {
            display: inline-block;
            float: right;
        }
    }

    .monospace {
        font-family: "Courier New", Courier, monospace;
    }

}
